# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Blink.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Blink_Prototype\Blink\.idea\.idea.Blink\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
